.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 760px;
    margin: 0 auto;
}
.container:before {
    content: "";
    display: block;
    position: fixed;
    width: 300%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translateX(-50%) skewY(-8deg);
    background-color: #f6c90e;
    z-index: -1;
    -webkit-animation: wave 8s ease-in-out infinite alternate;
    animation: wave 8s ease-in-out infinite alternate;
}
@keyframes wave {
    0% {
      transform: translateX(-50%) skew(0deg, -8deg);
    }
    to {
      transform: translateX(-30%) skew(8deg, -4deg);
    }
  }
.card{
    background-color: #fff;
    box-sizing: border-box;
    width: 360px;
    height: 600px;
    box-shadow: 0 3.2px 2.2px rgb(0 0 0 / 2%), 0 7px 5.4px rgb(0 0 0 / 3%),
        0 12.1px 10.1px rgb(0 0 0 / 4%), 0 19.8px 18.1px rgb(0 0 0 / 4%),
        0 34.7px 33.8px rgb(0 0 0 / 5%), 0 81px 81px rgb(0 0 0 / 7%);
    border-radius: 30px;
    overflow: hidden;
    padding: 0 28px;
    position: relative;
    margin-bottom: 20px;
}
.card::before{
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #f6c90e;
    top: -20%;
    left: -50%;
    z-index: 0;
}
.card-top {
    margin: 12px 0;
    position: relative;
}
.card-top-logo {
    display: block;
    width: 50px;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0;
    position: relative;
}

/* css for products  */
.products, .cart{
    height: 100%;
}

.shop-item{
    padding: 40px 0;
}

.checked-product{
    width: 8%;
    border-radius: 36px;
    background-color: #f6c90e;
    padding: 8px 8px;
}
.btn-add-cart{
    cursor: pointer;
    background-color: #f6c90e;
    font-weight: 700;
    font-size: 14px;
    box-sizing: border-box;
    width: auto;
    height: 46px;
    min-width: 46px;
    padding: 16px 20px;
    border-radius: 100px;
    transition: all .25s ease;
    user-select: none;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: none;
}
.shop-item-image{
    border-radius: 30px;
    height: 380px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.shop-item-image img{
    display: block;
    width: 100%;
    filter: drop-shadow(0 30px 20px rgba(0,0,0,.2));
    transform: rotate(-24deg);
    margin-left: -16px;
}

.shop-item-name{
    font-size: 20px;
    font-weight: 700;
    margin: 26px 0 20px;
    line-height: 1.5;
}
.shop-item-text{
    font-size: 13px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 20px;
}
.shop-item-price{
    font-size: 18px;
    font-weight: 700;
}
.card-body{
    height: calc(100% - 98px);
    position: relative;
    overflow-y: scroll;
}
.card-body::-webkit-scrollbar {
    display: none;
}
.card-body div:nth-child(1){
    padding-top: 0;
}


/* css for cart  */
.cart-item{
    padding: 20px 0;
}
@keyframes showImageCart {
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}
.cart-item-image{
    flex: 1;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 34px;
    animation: showImageCart 0.5s linear;
}
.cart-item-content{
    flex: 2;
}
.cart-item-image img {
    display: block;
    width: 140%;
    transform: rotate(-28deg) translateY(-40px);
    filter: drop-shadow(0 30px 20px rgba(0,0,0,.2));
}
@keyframes action {
    from{
        transform: translateX(50%);
    }
    to{
        transform: translateX(0);
    }
}

.cart-item-name{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
    animation: action 0.2s linear;
}
.cart-item-price{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    animation: action 0.2s linear;
}

@keyframes btnCountShow {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.btn-count{
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: #eee;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    user-select: none;
    border: none;
    animation: btnCountShow 0.8s linear;
}
.cart-item-remove{
    width: 28px;
    height: 28px;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6c90e;
    transition: .2s;
    user-select: none;
}
.cart-item-remove img {
    width: 16px;
    height: 16px;
}
.cart-item-qty{
    margin: 0 8px;
}

/* reponsive  */

/* for tablet  */
@media screen and (max-width: 800px) {
    .card {
        margin: 20px auto;
    }
}

/* for mobile  */
@media screen and (max-width: 480px) {
    .container{
        justify-content: center;
    }
    .card{
        width: 340px;
    }
}

